.about {
  margin: 200px 0 160px;
  position: relative;
  .img1 {
    background: url(../img/Pfoliosand1.jpg) center/cover;
    // background: url(../img/photoComputer.jpg) center/cover;
    text-align: center;
    margin: 15px auto;
    height: 512px;
    height: 430px;
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
  // filter: grayscale(10%);
  // transition: 1.6s;

  filter: grayscale(100%);
  transition: 1.6s;


  &:hover {
    filter: grayscale(10%);
  }
  
   @media screen and (max-width: 1000px) {
    max-width: 512px;
    }
    @media screen and (max-width: 850px) {
      max-width: 450px;
      }

      @media screen and (max-width: 750px) {
        max-width: 400px;
        }
        @media screen and (max-width: 650px) {
          max-width: 370px;
          }
          @media screen and (max-width: 540px) {
            max-width: 300px;
            }





  &:hover {
    filter: grayscale(100%);
  }
  }
  .h2-wrapper {
    mix-blend-mode: difference;
    margin: -140px 0 80px;
    text-align: center;

    h2 {
      color: $white1;
    }
  }
  .p-wrapper {
    margin: 40px auto;
   
   
  }
  p {
    width: 70%;
    min-width: 280px;
    text-align: center;
    margin: 0 auto;
    line-height: calc(5px + 4.5vw);
    font-size: calc(1rem + 0.8vw);
    letter-spacing: 1px;

    @media screen and (max-width: 950px) {
      width: 60%;
      font-size: calc(0.7rem + 0.8vw);
      }
      @media screen and (max-width: 860px) {
        width: 40%;
        text-align: justify center;
        }

  }

  .scroll-wrapper {
    position: absolute;
    left: 10%;
    transform: translateX(-50%);
    color: $white2;
   
    bottom: 3vw;
    p {
    font-size: calc(0.6rem + 0.6vw);
  }
  @media screen and (max-width: 1250px) {
    bottom: 7vw;
  }
  @media screen and (max-width: 1000px) {
    bottom: 8vw;
    left: 10%;
  }
  @media screen and (max-width: 600px) {
    bottom: 11vw;
  }
  @media screen and (max-width: 540px) {
   display: none;
    }
  }


}